<p id="notice"><%= notice %></p>

<p>
  <strong>Vorname:</strong>
  <%= @address.vorname %>
</p>

<p>
  <strong>Nachname:</strong>
  <%= @address.nachname %>
</p>

<p>
  <strong>Street:</strong>
  <%= @address.street %>
</p>

<p>
  <strong>Plz:</strong>
  <%= @address.plz %>
</p>

<p>
  <strong>City:</strong>
  <%= @address.city %>
</p>

<p>
  <strong>Country:</strong>
  <%= @address.country %>
</p>

<%= link_to 'Edit', edit_address_path(@address) %> |
<%= link_to 'Back', addresses_path %>
